<ion-content>
    <div class="centrado-vertical">

        <ion-grid clas="ion-text-center">
            <ion-row class="ion-margin-vertical">
                <ion-col size="1"></ion-col>
                <ion-col size="10">
                    <img src="../../../assets/images/logo.png">
                </ion-col>
                <ion-col size="1"></ion-col>
            </ion-row>

            <ion-row class="ion-margin-vertical ion-text-center">
                <ion-col size="1"></ion-col>
                <ion-col size="10">
                    <img class="ion-margin-vertical" src=" ../../../assets/images/medico.png ">

                    <ion-text class="descripcion ion-text-lg-center ">
                        {{descripcion}}
                    </ion-text>
                </ion-col>
                <ion-col size="1 "></ion-col>
            </ion-row>

            <ion-row class="ion-margin-vertical ion-text-center ">
                <ion-col size="1 "></ion-col>
                <ion-col size="10 ">
                    <ion-button class="ion-margin-vertical" color="primary" routerLink="/triaje">
                        {{textButton}}
                    </ion-button>
                </ion-col>
                <ion-col size="1 "></ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>