<app-header titulo="Pruebas" pathFather="/principal/pruebas"></app-header>

<ion-content>
    <ion-list>
        <ion-item class="ion-margin" *ngFor="let prueba of pruebas" [routerLink]="prueba.path" detail>
            <i slot="start" color="primary" [class]="prueba.icon"></i>
            <ion-label>{{prueba.titulo}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar>
        <app-progress-bar referencia="Pruebas" [cantidadCumplida]=cantidadCompletos [limite]="pruebas.length"></app-progress-bar>
    </ion-toolbar>
</ion-footer>