<app-header titulo="triaje" pathFather="/principal/pruebas"></app-header>

<ion-content *ngIf="!loading">
    <ion-grid>
        <ion-row>
            <ion-col size="12">

                <app-cuestionario *ngFor="let cuestionario of cuestionarios; " [cuestionario]="cuestionario" [paginaActual]="paginaActual" [cantidadCuestionarios]="cantidadCuestionarios" (numeroCambiado)="actualizarPagina($event)" (analizarCuestionario)="realizarTriaje($event)"></app-cuestionario>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>